{% extends "places/base.html" %}

{% block content %}

    <div class="grid w-1/2 mx-auto gap-16 rounded-lg p-20 bg-blue-200 shadow-xl">
        <h1 class="text-3xl text-black font-sans text-center">
            Добро пожаловать!
        </h1>

        <h3 class="text-2xl text-black font-sans text-center text-pretty">
            Это веб-приложение, с помощью которого вы можете хранить свои впечатления о посещенных местах.
        </h3>

        <div class="flex-container flex justify-center items-center">
            <div id="VkIdSdkOneTap"></div>
        </div>
    </div>

{% endblock content %}
