{% extends "places/base.html" %}

{% block content %}

    {% include "places/header.html" %}

    <div class="w-full flex flex-col h-2/3 gap-12 px-12 font-sans">

        <h1 class="text-4xl font-bold flex justify-center items-center">{{ place.name }}</h1>

        <div class="flex gap-12 h-full">
            <p class="w-1/2">{{ place.description }}</p>

            <div id="detailMap" class="h-full w-1/2 rounded-md z-0"
                 latitude={{ place.latitude }} longitude={{ place.longitude }}></div>
        </div>

    </div>

    <button id="edit-place"
            class="fixed w-40 bottom-14 right-12 bg-blue-500 shadow-xl hover:shadow-none text-white font-sans px-4 py-4 rounded-md inline-flex text-center items-center justify-center">
        Редактировать
    </button>

    <div class="overlay fixed hidden z-50 w-full h-full top-0 left-0 bg-black/60">
        <div class="popup absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-blue-500 rounded-md p-8 w-1/2">

            <form action="{% url 'edit_place' place.id %}" method="post" class="w-full flex flex-col">
                {% csrf_token %}

                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                    <p>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

                <div id="map-form-edit" class=" h-80 w-full mb-3 rounded-md"
                     latitude={{ place.latitude }} longitude={{ place.longitude }}></div>

                <button type="submit"
                        class="w-2/3 m-auto mt-6 bg-white shadow-xl hover:shadow-none font-sans px-4 py-4 rounded-md inline-flex text-center items-center justify-center">
                    Изменить
                </button>
            </form>

        </div>
    </div>
    <script src="/static/map.js"></script>
    <script src="/static/popup.js"></script>

{% endblock content %}
