{% extends "places/base.html" %}

{% block content %}
    <div class="flex-container flex-col w-2/3 h-screen justify-between">

        {% include "places/header.html" %}

        <main class="flex mt-20 flex-col w-full justify-end items-center">
            <div class=" w-3/4 h-full pt-6">
                {% include "places/places_list.html" %}
            </div>

            <button id="add-memory"
                    class=" fixed text-balance w-40 bottom-14 right-12 bg-blue-500 shadow-xl hover:shadow-none text-white font-sans px-4 py-4 rounded-md inline-flex text-center items-center">
                Добавить воспоминание
            </button>

        </main>

        <div class="overlay fixed hidden z-50 w-full h-full top-0 left-0 bg-black/60">
            <div class="popup absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-blue-500 rounded-md p-8 w-1/2">
                <form action="{% url 'add_place' %}" id="place-form" method="post" class="w-full flex flex-col">
                    {% csrf_token %}

                    <div class="form-error">{{ form.non_field_errors }}</div>

                    {% for f in form %}
                        <p>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <div id="map-form-create" class="h-80 mb-3 rounded-md"></div>

                    <button type="submit"
                            class="w-2/3 m-auto mt-6 bg-white shadow-xl hover:shadow-none font-sans px-4 py-4 rounded-md inline-flex text-center items-center justify-center">
                        Сохранить
                    </button>

                </form>
            </div>
        </div>
    </div>
    <script src="/static/map.js"></script>
    <script src="/static/popup.js"></script>
{% endblock content %}
