{% extends "places/base.html" %}

{% block content %}
    <div class="flex-container flex-col w-2/3 h-screen justify-between">

        <header class="flex flex-row justify-between">
            <div class="flex items-center">
                <img class="h-10 w-10 rounded-lg" src="{{ avatar }}">
                <h1 class="px-4">{{ first_name }} {{ last_name }}</h1>
            </div>

            <div class="flex justify-end align-middle">
                <a href="{% url 'sign_out' %}">
                    Выйти
                </a>
            </div>
        </header>

        <main class="flex flex-col w-full justify-center items-center" style="height: calc(100% - 40px)">
            <div>
                <h1 class="text-center">No places...</h1>
            </div>
            <button class="absolute text-balance w-52 bottom-20 right-5 bg-blue-500 shadow-xl hover:shadow-none text-white font-sans font-semibold text-xl px-6 py-6 rounded-lg inline-flex items-center">
                Добавить воспоминание
            </button>
        </main>
    </div>
{% endblock content %}
